<launch>
	<node pkg="edge_tpu" name="detector" type="detect_imgdata.py" output="screen">
		<param name="model_path" value="/data/robot/tpu_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite" />
		<param name="label_path" value="/data/robot/tpu_models/coco_labels.txt" />
	</node>
</launch>
